* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #e76f51;
}

header {
    background-color: #264653;
    padding: 1rem;
}

/*
main {
    background-color: red;
}
*/

h1 {
    text-align: center;
    color: #e9c46a;
}

h2 {
    background-color: #264653;
    color: #e9c46a;
    padding: 5px 5px 3px;
    margin-top: 15px;
}

blockquote,
p {
    font-size: .85rem;
}

.quote {
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #D5E0FF;
    padding: 2rem;
    text-align: center;
    width: 800px;
}

.list {
    text-align: left;
    padding-top: 15px;
    padding-left: 25px;
}
