* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

html, body {
    
    width: 100vw;
    background-color: #e76f51;
}

header,
footer {
    background-color: #264653;
}

header {
    padding: 1rem;
}

footer {
    padding: .5rem;
    text-align: center;
    color: white;
}

/*
main {
    background-color: red;
}
*/

h1 {
    text-align: center;
    color: #e9c46a;
}

h2 {
    background-color: #264653;
    color: #e9c46a;
    padding: 5px 5px 3px;
    margin-top: 15px;
}

a.normal:link {
    color: #2a9d8f;
}
  
a.normal:visited {
    color: #264653;
}
  
a.normal:hover {
    color: #e76f51;
}

a#foot:link {
    color: #e9c46a;
}

a#foot:visited {
    color: #e9c46a;
}

a#foot:active {
    color: #e9c46a;
}

a#foot:hover {
    color: #2a9d8f;
}

.quote {
    font-size: .85rem;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #D5E0FF;
    padding: 2rem;
    text-align: center;
    width: 800px;
    min-width: 480px;
}

.list {
    text-align: left;
    padding-top: 15px;
    padding-left: 25px;
}
